<header class="bg-danger">
    <nav class="navbar navbar-expand container navbar-light">
        <span class="navbar-brand">
            Symfony découverte
        </span>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ path('exo2') }}" class="nav-link">Exo 2</a>
                {# <?= $router->generate("exo2") ?>  #}
            </li>
            <li class="nav-item">
                <a href="{{ path('boucle-condition') }}" class="nav-link">for if</a>
            </li>
             <li class="nav-item">
                <a href="{{ path('exo3') }}" class="nav-link">Exo 3</a>
            </li>
             <li class="nav-item">
                <a href="{{ path('articles') }}" class="nav-link">articles</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('exo4') }}" class="nav-link">Exo 4</a>
            </li>
             <li class="nav-item">
                <a href="{{ path('new_etudiant') }}" class="nav-link">Ajouter un étudiant</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('exo5') }}" class="nav-link">Ajouter un article</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('exo6') }}" class="nav-link">Ajouter une catégorie</a>
            </li>
        </ul>
    </nav>
</header>
